:root{
    --color-letter: white
}
*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.inactive{
    display: none;
}
body{
    background-color: rgb(27, 27, 27);
}
header{
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.event-error{
    position: absolute;
    left: 100px;
}
.event-error__text{
    border-radius: 15px;
    background-color: rgb(141, 55, 55);
    height: 50px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 230, 0);
}
.input-buscar{
    width: 250px;
    height: 35px;
    background-color: rgb(43, 43, 43);
    border: none;
    font-size: 19px;
    border-radius: 10px;
    color: var(--color-letter);
}
.input-botton{
    width: 100px;
    height: 50px;
    background-color: rgb(36, 36, 36);
    font-size: 19px;
    border-radius: 10px;
    color: var(--color-letter);
}
.input-botton:active{
    background-color: aliceblue;
}
.select-option-name{
    position: absolute;
    right: 10px;
    height: 35px;
    width: 250px;
    border-radius: 10px;
    background-color: rgb(43, 43, 43);
    color: var(--color-letter);
    border: none;
    font-size: 18px;
    bottom: 40%;

}
.select-option-name::-webkit-scrollbar {
    width: 12px;
}  
.select-option-name::-webkit-scrollbar-track {
    background: black;
  }
  
.select-option-name::-webkit-scrollbar-thumb {
    background-color: rgb(36, 36, 36);
    border-radius: 20px;
    border: 2px solid black;
  }
.left-style-general{
    padding: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    width: 150px;
    height: 220px;
    border-radius: 5px;
    background: rgb(44, 44, 44);
    box-shadow:  0px 0px 20px 5px #424242,
                 -0px -0px 20px 5px #494949;
}
.botones-control{
    top: 200px;
    left: 80px;
}
.leyenda-grafica{
    top: 200px;
    right: 80px;
}
.boton-left{
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(185, 185, 185);
    width: 80%;
    height: 20%;
    border-radius: 5px;
    border: solid rgb(119, 119, 119) 1px;
}
.boton-left:active{ 
    background-color: aliceblue;
}
.contened-canvas{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}
.contened{
    margin-top: 130px;
}
.screen-inicio{
    position: absolute;
    top: 0;
    color: var(--color-letter);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nombre-existentes{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(3, 50px);
    color: burlywood;
}
.line-salario span{
    width: 80%;
    border-top: solid red 2px;
    padding-top: 3px;
}
.line-impuesto span{
    width: 80%;
    border-top: solid Blue 2px;
    padding-top: 3px;
}
.line-afponp span{
    width: 80%;
    padding-top: 3px;
    border-top: solid yellow 2px;
}
.line-essalud span{
    width: 80%;
    padding-top: 3px;
    border-top: solid green 2px;
}
.canvas-edit{
    height: 600px;
    width: 800px;
    border-radius: 10px;
    background: rgb(0, 0, 0);
    box-shadow:  20px 20px 40px #161616,
                 -20px -20px 40px #292929;
}
.estadistica-grafica{
}
.contend-result{
    margin-top: 35px;
    padding-bottom: 55px;
    width: 100%;
    background-color: black;
    color: var(--color-letter);
}
.table-contend-body{
}
.contend-head{
    margin: 0 auto;
    padding: 15px 0;
    width: 90%;
    font-size: 25px;
}
.contend-body{
    border: solid 1px white;

    margin: 0 auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.border-white__top{
    border: white solid 1px;
    align-self: center;
    font-size: 14px;
}
.border-white{
    height: 25px;
    border-bottom: white ridge 1px;
    align-self: center;
    margin-top: 10px;
}
.contend-body__year{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
}
.contend-body__compania {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
}
.contend-body__salario{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}
.contend-body__retencion-afp{
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 2;
}
.contend-body__retencion-onp{
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
}
.contend-body__impuesto{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
}
.contend-body__afp{
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 3;  
}
.contend-body__onp{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 4;  
}
.contend-body__salud-afp{
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 4;  
}
.contend-body__salud-onp{
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 4;  
}
.contend-body__cuenta{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;  
}
.contend-body__admit{
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4;
}
.contend-body__seguroPension{
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 4;  
}
.contend-body__reductionTotalPension{
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 4;  
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    background-color: #424242;
    height: 150px;
    width: 100%;
}
