*{
    margin: 0;
    padding: 0;
    color: aqua;
    text-align: center;
}
body{
    background-color: rgb(27, 27, 27);
}
header{
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-buscar{
    width: 250px;
    height: 35px;
    background-color: rgb(43, 43, 43);
    border: none;
    font-size: 19px;
    border-radius: 10px;
}
.input-botton{
    width: 100px;
    height: 50px;
    background-color: rgb(36, 36, 36);
    font-size: 19px;
    border-radius: 10px;
}
.contened-canvas{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}
.canvas-edit{
    height: 600px;
    width: 800px;
    border-radius: 45px;
    background: rgb(0, 0, 0);
    box-shadow:  20px 20px 40px #161616,
                 -20px -20px 40px #292929;

}
.contend-result{
    margin-top: 35px;
    width: 100%;
    height: 1000px;
    background-color: black;
}
.contend-head p{
    text-align: left;
}
.contend-body{
    margin: 0 auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.border-white{
    border: white solid 1px;
}
.contend-body__year{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
}
.contend-body__compania {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
}
.contend-body__salario{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}
.contend-body__retencion{
    grid-column-start: 4;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 2;
}
.contend-body__impuesto{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
}
.contend-body__onpAfp{
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 3;  
}
.contend-body__salud{
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 4;  
}
.contend-body__cuenta{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;  
}
.contend-body__admit{
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4;
}
.contend-body__seguroPension{
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 4;  
}


/*
.retencion-general{
    grid-column-start: 4;
    grid-column-end: 11;
    display: flex;
    flex-direction: column;
}
.retencion-general__detail{
    display: grid;
    grid-template-columns: 150px 1fr 150px;
}
.onp-afp{
    display: flex;
    flex-direction: column;
}
.onp-afp__detail{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}